{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/new_password.css' %}">
{% endblock %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <main class="page">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <form method="POST">
                    {% csrf_token %}

                    <div class="main-block__title">
                        <h1 class="main-block__title-text">Придумайте новый пароль</h1>
                    </div>
                    <div class="main-block__body">
                        <div class="main-block__body-textbox">
                            <input type="password" id="id_new_password1" name="new_password1" placeholder="Пароль">
                            <input type="password" id="id_new_password2" name="new_password2" placeholder="Повторите пароль">
                        </div>
                    </div>
                    <div class="main-block-buttons">
                        <button type="submit" class="main-block-button main-block__body-button_update" id="reset">
                            Обновить пароль
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}