{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/recovery.css' %}">
{% endblock %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <main class="page">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <div class="main-block__title">
                    <h1 class="main-block__title-text">Восстановление пароля</h1>
                </div>
                <form method="POST">
                    {% csrf_token %}

                    <div class="main-block__body">
                    <div class="main-block__body-textbox">
                        <input type="text" id="Email" name="email" placeholder="Почта">
                    </div>
                    <div class="main-block-cencel">
                        <a href="/accounts/login/" class="main-block-forgot-cencel_text">Отменить</a>
                    </div>
                    </div>
                    <div class="main-block-buttons">
                        <button type="submit" class="main-block-button main-block__body-button_recovery">
                            Сбросить пароль
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </main>
{% endblock %}