{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
{% endblock %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <main class="page">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <div class="main-block__title">
                    <h1 class="main-block__title-text">Регистрация</h1>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="main-block__body">
                        <div class="main-block__body-textbox">
                            <input type="text" id="login" name="username" placeholder="Логин">
                            <input type="email" id="mail" name="email" placeholder="Почта">
                            <input type="password" id="password" name="password1" placeholder="Пароль">
                            <input type="password" id="again_password" name="password2"
                                   placeholder="Повторите пароль">
                        </div>
                    </div>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <div class="main-block-buttons">
                        <button type="submit" class="main-block-button main-block__body-button_reg">
                            Зарегистрироваться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
